.homeContainer{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.centerSection{
    flex: 3;
    overflow-y: auto;
}
.rightSection{
    flex: 1.3;
    overflow-y: auto;
    border-left: 1px solid rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    background-image: url("https://th.bing.com/th/id/OIP.XvF6p1jj-aohKNCwMNx6TAAAAA?w=262&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3");
    background-size: cover;
    border-left: 1px solid rgba(255, 60, 0, 0.15);
}