.homeContainer{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.centerSection{
    flex: 3;
    overflow-y: auto;
}
.rightSection{
    flex: 1.3;
    overflow-y: auto;
    border-left: 1px solid rgba(255, 0, 0, 0.2);
}