.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: none;
  margin: none;
}

.main {
  flex: 1;
  display: flex;
  height: 90vh;
}

.content {
  flex: 1;
  overflow-y: auto;
}
