.authWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parentCont{
    background-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 60vh;
    width: 35vw;
    border-radius: 25px;
}
.brandTitle{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}
.sins{
    color: #DC143C;
}
.brandTagline{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}
.authToggle{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.formGroup{
    display: flex;
    margin-bottom: 10px;
}
.formOptions{
    display: flex;
    gap: 10px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}